<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kluwen Resto</title>
</head>
<body>
	<a href="#content" class="skip-link">Skip to content?</a>
    <!-- Navbar for Mobile -->
    <div class="menumobile">
        <div class="logo"><img src="images/logo.png" height="" width="50%" alt="Logo"></div>
        <div class="iconmenu" id="menu"><a href="#" style="font-size:30px;">&#9776;</a></div>
    </div>
    <nav id="drawer" class="navmobile">
        <ul class="navlistmobile">
            <li class="navitemsmobile"><a href="">Home</a></li>
            <li class="navitemsmobile"><a href="#">Favorite</a></li>
            <li class="navitemsmobile"><a target="_blank" href="https://multimediary.my.id/">About Us</a></li>
        </ul>
    </nav>
    <!-- Navbar for Desktop -->
    <nav class="nav">
        <a class="logo" href=""><img src="images/logo.png" height="" width="20%" alt="Logo"> </a>
        <ul class="navlist">
            <li class="navitems"><a href="">Home</a></li>
            <li class="navitems"><a href="#">Favorite</a></li>
            <li class="navitems"><a target="_blank" href="https://multimediary.my.id/">About Us</a></li>
        </ul>
    </nav>
    <!-- Jumbotron -->
    <div class="hero" style="background-image: linear-gradient(rgba(1, 1, 6, .8), rgba(1, 1, 6, .8)), url('images/heros/hero-image_4.jpg'); background-repeat: no-repeat; background-size: auto;">
        <div class="inner-hero">
            <h1 class="title-hero">Kluwen Resto</h1>
            <p class="subtitle-hero">Find a comfortable place to eat for yourself, as a couple or your family from our site.</p>
        </div>
    </div>
    <!-- Content -->
    <main id="content">
        <section class="content">
            <div class="latest">
                <h1>Restaurant Catalog</h1>
                <div class="list" id="RestaurantCatalog"></div>
            </div>
        </section>
    </main>
    <!-- Footer -->
    <footer>
        <p>Copyright © 2021 - Kluwen Resto</p>
    </footer>
</body>
</html>